@font-face{
    src:url(/fonts/Muli-SemiBold.ttf);
    font-family:muli;
}
*{
    margin:0;
}
body{
    overflow:hidden;
    font-family:muli;
}
header, 
footer{
    background-color:#32322f;
    position: fixed;
    width: 100%;
    z-index: 100;
}
header{
    height:85px;
    top:0px;
}
footer{
    height:150px;
    display: flex;
    align-items: center;
    bottom: 0px
}

header img{
    width: 115px;
}
header h2{
    font-size: 42px;
    display: grid;
    align-items: center;
    height: 100%;
    text-align: center;
}
header h2, 
.footer-content-container h2{
    color:#fdfdfd;
}
section{
    height:calc(90vh - (85px + 150px));
    overflow-y:auto;
    padding-top:120px;
    padding-bottom: 30px;
}
.translation-container{
    width:50%;
    margin: 0 auto;
}

.translation-container textarea, 
.translation-container .output-container{
    font-size: 16px;
    line-height: 1.5;
    color:#32312e;
}

.translation-container textarea, 
.translation-container .output-container{
    width: 100%;
    border: 1px solid #32322f;
    border-radius: 5px;
}
.translation-container textarea{  
    resize: none;
    height: 137px;
}
.translation-container textarea::placeholder{
    color:#808080;
}
.translation-container button{
    width: 250px;
    height: 45px;
    background: #25c7a3;;
    border: 0px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fdfdfd;
    font-weight: bold;
}
.translation-container p{
    font-size: 17px;
    color:#32322f;
}
.translation-container .output-container{
    height:100px;
    overflow-y: auto;
    margin-top: 20px;
}
footer .footer-content-container{
    width:50%;
    margin: 0 auto;
    text-align: center;
}

footer .footer-content-container p{
    margin-top:8px;
    color:#fdfdfd;
}

@media only screen and (max-width: 899px) {
    .translation-container{
        width:90%;
    }
    footer .footer-content-container{
        width:66%;
    }
    section{
        height:calc(85vh - (85px + 150px));
    }
}
@media only screen and (max-width: 600px) {
    footer .footer-content-container{
        width:95%;
    }
}
@media only screen and (max-width: 460px) {
    header h2 {
        font-size: 30px;
    }
    .translation-container button {
        font-size: 14px;
    }
    footer .footer-content-container p, 
    .translation-container textarea, 
    .translation-container .output-container {
        font-size: 14px;
    }
}